.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}

.links {
  display: flex;
  gap: 10px;
}

.navbar a {
  text-decoration: none;
  color: black;
}

.navbar a:hover {
  text-decoration: underline;
}
